[v-cloak] {
    display: none;
}

.uk-icon > svg:nth-child(2) {
    display: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
}

p, a, button {
    font-family: 'Roboto Condensed', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif !important;
}

span, i, li, ul {
    font-family: 'Roboto Condensed', sans-serif !important;
}

input, select, textarea {
    font-family: 'Roboto Condensed', sans-serif !important;
    border-radius: 5px !important;
}

input, textarea {
    background-color: #F8F8F8 !important;
}

input:focus {
    border-color: #333F48 !important;
    background-color: #FFFFFF !important;
}

input:checked {
    background-color: #333F48 !important;
}

textarea:focus {
    border-color: #333F48 !important;
    background-color: #FFFFFF !important;
}

select {
    background-color: #F8F8F8 !important;
}

select:focus {
    border-color: #333F48 !important;
}

label {
    font-family: 'Roboto Condensed', sans-serif !important;
}

/*sc = score*/

.footerSection {
    padding: 80px;
    background-color: #333F48;
}

.sc-text-100 {
    font-weight: 100 !important;
}

.sc-text-200 {
    font-weight: 200 !important;
}

.sc-text-300 {
    font-weight: 300 !important;
}

.sc-text-400 {
    font-weight: 400 !important;
}

.sc-text-500 {
    font-weight: 500 !important;
}

.sc-text-600 {
    font-weight: 600 !important;
}

.sc-text-size-11 {
    font-size: 11px !important;
}

.sc-text-size-12 {
    font-size: 12px !important;
}

.sc-text-size-13 {
    font-size: 13px !important;
}

.sc-text-size-14 {
    font-size: 14px !important;
}

.sc-text-size-16 {
    font-size: 16px !important;
}

.sc-text-size-18 {
    font-size: 18px !important;
}

.sc-text-size-50 {
    font-size: 50px !important;
}

.sc-text-brand p,
.sc-text-brand,
.sc-text-brand h1,
.sc-text-brand,
.sc-text-brand h2,
.sc-text-brand,
.sc-text-brand h3,
.sc-text-brand,
.sc-text-brand h4,
.sc-text-brand,
.sc-text-brand h5,
.sc-text-brand,
.sc-text-brand h6 {
    color: #00AB8E !important;
}

.sc-text-default p,
.sc-text-default,
.sc-text-default h1,
.sc-text-default,
.sc-text-default h2,
.sc-text-default,
.sc-text-default h3,
.sc-text-default,
.sc-text-default h4,
.sc-text-default,
.sc-text-default h5,
.sc-text-default,
.sc-text-default h6 {
    color: #333F48 !important;
}

.sc-text-white-grey p,
.sc-text-white-grey,
.sc-text-white-grey h1,
.sc-text-white-grey,
.sc-text-white-grey h2,
.sc-text-white-grey,
.sc-text-white-grey h3,
.sc-text-white-grey,
.sc-text-white-grey h4,
.sc-text-white-grey,
.sc-text-white-grey h5,
.sc-text-white-grey,
.sc-text-white-grey h6,
.sc-text-white-grey,
.sc-text-white-grey b {
    color: #CCCFD1 !important;
}

.sc-text-white p,
.sc-text-white,
.sc-text-white h1,
.sc-text-white,
.sc-text-white h2,
.sc-text-white,
.sc-text-white h3,
.sc-text-white,
.sc-text-white h4,
.sc-text-white,
.sc-text-white h5,
.sc-text-white,
.sc-text-white h6,
.sc-text-white,
.sc-text-white b {
    color: #fff !important;
}

.sc-text-blue p,
.sc-text-blue,
.sc-text-blue h1,
.sc-text-blue,
.sc-text-blue h2,
.sc-text-blue,
.sc-text-blue h3,
.sc-text-blue,
.sc-text-blue h4,
.sc-text-blue,
.sc-text-blue h5,
.sc-text-blue,
.sc-text-blue h6,
.sc-text-blue,
.sc-text-blue b {
    color: cornflowerblue !important;
}

.sc-text-border {
    border-style: solid solid solid solid;
    border-width: 0.15mm;
    border-color: #666F76;
    border-radius: 5px;
    padding: 5px;
}

.sc-color-grey {
    color: #666F76 !important;
}

.sc-color-white-grey {
    color: #CCCFD1 !important;
}

.sc-color-red {
    color: #ff4c4c !important;
}

.sc-link-brand {
    color: #333F48;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.sc-link-brand:hover {
    text-decoration: none;
    color: #00AB8E;
}

.sc-link-footer {
    color: #CCCFD1;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.sc-link-footer:hover {
    text-decoration: none;
    color: #CCCFD1;
}

.sc-link-none {
    color: #333F48;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.sc-link-none:hover {
    text-decoration: none;
    color: #333F48;
}

.sc-link-underline {
    color: #333F48;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.sc-link-underline:hover {
    text-decoration: underline;
    color: #333F48;
}

.sc-link-brand-active {
    color: #00AB8E;
}

.sc-link-default {
    color: #333F48;
    text-decoration: underline;
}

.sc-link-default:hover {
    color: #333F48;
    text-decoration: none;
}

.sc-slide-show,
.sc-slide-show h3,
.sc-slide-show,
.sc-slide-show h4,
.sc-slide-show,
.sc-slide-show p,
.sc-slide-show,
.sc-slide-show span,
.sc-slide-show,
.sc-slide-show div {
    color: #FFFFFF !important;
    font-weight: 200;
}

.sc-slide-show span {
    font-size: 50px !important;
    font-weight: 200;
}

.sc-content-modal,
.sc-content-modal p {
    color: #333F48 !important;
    font-weight: 200 !important;
}

.sc-content-modal h1,
.sc-content-modal h2,
.sc-content-modal h3,
.sc-content-modal h4,
.sc-content-modal h5,
.sc-content-modal h6 {
    color: #333F48 !important;
    font-weight: 400 !important;
}

.sc-content-modal img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.sc-content-modal-slider,
.sc-content-modal-slider p,
.sc-content-modal-slider h1,
.sc-content-modal-slider h2 {
    color: #fff !important;
    /*font-weight: 400 !important;*/
}

.tm-background {
    padding-bottom: 25px;
    background-attachment: fixed
}

@media (min-width: 768px) {
    .tm-background {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

@media (min-width: 960px) {
    .tm-background {
        padding-top: 70px;
        padding-bottom: 70px
    }
}
